@model Medix.Models.Paciente

@{
    ViewData["Title"] = "Detalhes: " + Model.NomeCompleto;
    ViewData["HideFooter"] = true; // Esconde o rodapé principal
}

<div class="card">

    <div class="card-header">
        <h1>@Html.DisplayFor(model => model.NomeCompleto)</h1>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
    </div>

    <div class="card-body">
        <dl class="details-list">
            <dt>
                @Html.DisplayNameFor(model => model.CPF)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CPF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>
            <dd>
                @Model.DataNascimento?.ToString("dd/MM/yyyy")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco)
            </dd>

        </dl>
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center">
        <a asp-action="Index" class="action-link">Voltar para a Lista</a>
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Excluir Paciente</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}