@model Medix.Models.Colaborador

@{
    ViewData["Title"] = "Detalhes do Colaborador";
    ViewData["HideFooter"] = true; // Esconde o rodapé principal
}

<div class="card">

    <div class="card-header">
        <h1>@Html.DisplayFor(model => model.NomeCompleto)</h1>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
    </div>

    <div class="card-body">
        <dl class="details-list">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cargo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cargo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Especialidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Especialidade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegistroProfissional)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RegistroProfissional)
            </dd>

        </dl>
    </div>

    <div class="card-footer">
        <a asp-action="Index" class="action-link">Voltar para a Lista</a>
    </div>
</div>